@media only screen and (max-width: 576px) {
    nav.navbar ul.navbar-nav li.nav-item a {
        color: #e5c78f;
        font-size: 19px;
        font-weight: bold;
        font-family: 'Pompiere';
    }
    
    nav.navbar ul.navbar-nav li.nav-item a:hover {
        color: #f3f0f0;
        font-weight: bold;
    }
    
    nav.navbar a.navbar-brand {
        color: #03c5df;
        font-family: 'Merienda One';
        font-size: 12px;
        margin-left: 20px !important;
    }
    
    nav.navbar a img {
        width: 35px;
    }
    
    nav.navbar p {
        margin-left: 100px !important;
    }
    
    div.carousel-item img {
        width: 100%;
        height: 250px;
        margin-top: 50px !important;
    }
    
    section#musicSymbel2 img {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
    }
    
    section#fade {
        position: absolute;
        top: 140px;
        display: hidden;
        z-index: 99;
        width: 400px;
        height: 400px;
        right: 100px;
        background: rgba(2, 1, 0, 0.3);
        color: white;
        border-radius: 2% 0 2% 0;
        overflow-y: scroll;
        font-size: 14px;
        padding: 20px;
        opacity: 0;
    }
    
    section#musicList {
        position: absolute;
        top: 145px;
        right: 0;
        opacity: 1;
        z-index: 9999;
        transform: rotate(360deg);
    }
    
    section#musicList a {
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        background: #082838;
        color: white;
        font-size: 12px;
        padding: 5px;
        transform: rotate(180deg);
    }
    
    h3.subheading {
        font-family: 'Pompiere';
        color: #f0d096;
        text-align: center;
    }
    
    section#fade p {
        font-family: 'Pompiere', cursive;
        font-size: 20px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
        height: 50px !important;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgba(8, 6, 0, 0.4);
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #e5c78f;
    }
    
    section.Content {
        margin-top: 0;
    }
    
    h6.more a {
        text-decoration: none;
        color: black;
        font-size: 10px !important;
    }
    
    h6.more a i.fa {
        color: #ce580a;
        font-weight: bold;
        margin-left: 5px;
        font-size: 15px;
    }
    
    h6.more a:hover i.fa {
        transition: .3s;
        margin-left: 15px;
    }
    
    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px !important;
    }
    
    h1.header {
        margin: 0 0 50px 0;
        font-size: 14px;
        font-weight: bold;
    }
    
    h1.headerOne {
        margin-top: 30px !important;
        margin-bottom: 36px !important;
        font-size: 18px;
        font-weight: bold;
    }
    
    h1.header-Contact {
        margin-top: 98px !important;
        margin-bottom: 50px !important;
        font-size: 18px;
        font-weight: bold;
    }
    
    h1 {
        color: #333;
        text-align: center;
        font-family: 'Fondamento', cursive;
        font-weight: bold;
        position: relative;
        margin: 20px 0 60px;
    }
    
    h1::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 3px;
        background: #8fbc54;
        left: 0;
        right: 0;
        bottom: -20px;
    }
    
    section #PhotoGallery img {
        height: 120px;
    }
    
    section #PhotoGallery h5, h6 {
        font-size: 12px;
    }
    
    section #MusicGallery h5, h6 {
        font-size: 12px;
    }
    
    section #MusicGallery img {
        height: 200px;
    }
    
    section #VideoGallery h5, h6 {
        font-size: 12px;
    }
    
    section #VideoGallery iframe {
        height: 100px;
    }
    
    section #Events img {
        height: 130px;
        margin: 0 auto;
        transform: rotateZ(7deg);
        transition: ease-in-out .4s;
    }
    
    section #Events h5 {
        font-size: 12px;
    }
    
    section #Events h6 {
        font-size: 12px;
    }
    
    section#Achievements img {
        margin: 0 auto;
        display: block;
    }
    
    #Contact h5 {
        margin-left: 60px !important;
        font-size: 13px;
    }
    
    #Contact h3 {
        margin-left: 20px;
        margin-bottom: 10px !important;
    }
    
    #Contact {
        font-family: 'Merienda One';
        background: url(../../assets/banners/footerBanner.jpg) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 30px;
    }
    
    #Contact p, p a {
        color: white;
        text-align: center;
        font-size: 13px;
        margin-top: 0;
        font-family: sans-serif;
    }
    
    div.footer p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px !important;
        margin-bottom: 30px;
    }
    
    div.footer p a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px !important;
    }
    
    section#enqyery {
        width: 300px;
        position: fixed;
        bottom: 0;
        right: 0;
        background: silver;
        padding: 30px;
        z-index: 99999;
    }
    
    #enqurybtn {
        position: fixed;
        bottom: -4px;
        text-align: left;
        right: 0;
        z-index: 9999;
        background: transparent !important;
    }
    
    #enqurybtn button {
        width: 200px !important;
    }
    
    #close {
        cursor: pointer;
    }
    
    #MusicContent {
        background: none !important;
        height: 500px;
        background-size: 0;
    }
    
    #MusicContent h4 {
        color: black;
    }
    
    table.table td {
        color: red !important;
    }
    
    div.MusicTable a {
        cursor: pointer;
        color: blue !important;
    }
    
    table.table {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    table.table th {
        font-size: 9px !important;
        color: red;
    }
    
    table.table td {
        font-size: 10px !important;
        color: red;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    nav.navbar ul.navbar-nav li.nav-item a {
        color: #e5c78f;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Pompiere';
    }
    
    nav.navbar ul.navbar-nav li.nav-item a:hover {
        color: #f3f0f0;
        font-weight: bold;
    }
    
    nav.navbar a.navbar-brand {
        color: #03c5df;
        font-family: 'Merienda One';
        font-size: 14px;
    }
    
    nav.navbar a img {
        width: 50px;
    }
    
    div.carousel-item img {
        width: 100%;
        height: 430px;
    }
    
    section#fade {
        position: absolute;
        top: 100px;
        display: hidden;
        z-index: 99;
        width: 400px;
        height: 280px;
        right: 50px;
        background: rgba(2, 1, 0, 0.3);
        color: white;
        border-radius: 2% 0 2% 0;
        overflow-y: scroll;
        font-size: 14px;
        padding: 20px;
        opacity: 1;
    }
    
    section#musicList {
        position: absolute;
        top: 230px;
        right: 0;
        opacity: 1;
        z-index: 9999;
        transform: rotate(360deg);
    }
    
    section#musicList a {
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        background: #082838;
        color: white;
        font-size: 12px;
        padding: 5px;
        transform: rotate(180deg);
    }
    
    h3.subheading {
        font-family: 'Pompiere';
        color: #f0d096;
        text-align: center;
    }
    
    section#fade p {
        font-family: 'Pompiere', cursive;
        font-size: 20px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
        height: 50px !important;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgba(8, 6, 0, 0.4);
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #e5c78f;
    }
    
    section.Content {
        margin-top: 200px;
    }
    
    h6.more a {
        text-decoration: none;
        color: black;
        font-size: 10px !important;
    }
    
    h6.more a i.fa {
        color: #ce580a;
        font-weight: bold;
        margin-left: 5px;
        font-size: 15px;
    }
    
    h6.more a:hover i.fa {
        transition: .3s;
        margin-left: 15px;
    }
    
    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px !important;
    }
    
    h1.header {
        margin: 100px 0 50px 0;
        font-size: 25px;
    }
    
    h1.headerOne {
        margin-top: 240px !important;
        margin-bottom: 50px !important;
        font-size: 25px;
    }
    
    h1.header-Contact {
        margin-top: 98px !important;
        margin-bottom: 50px !important;
    }
    
    h1 {
        color: #333;
        text-align: center;
        font-family: 'Fondamento', cursive;
        font-weight: bold;
        position: relative;
        margin: 30px 0 60px;
    }
    
    h1::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 3px;
        background: #8fbc54;
        left: 0;
        right: 0;
        bottom: -20px;
    }
    
    section #About img {
        width: 100px !important;
        margin-top: 90px;
        box-shadow: 10px 10px 4px -5px #200e0e;
    }
    
    section #PhotoGallery img {
        height: 180px;
    }
    
    section #PhotoGallery h5, h6 {
        font-size: 12px;
    }
    
    section #MusicGallery h5, h6 {
        font-size: 12px;
    }
    
    section #MusicGallery img {
        height: 210px;
    }
    
    section #VideoGallery h5, h6 {
        font-size: 12px;
    }
    
    section #VideoGallery iframe {
        height: 180px;
    }
    
    section #Events img {
        height: 130px;
        margin: 0 auto;
        transform: rotateZ(7deg);
        transition: ease-in-out .4s;
    }
    
    section #Events h5 {
        font-size: 12px;
    }
    
    section #Events h6 {
        font-size: 12px;
    }
    
    #Contact {
        font-family: 'Merienda One';
        padding: 0;
    }
    
    #Contact h5 {
        margin-left: 20px !important;
    }
    
    #Contact h3 {
        margin-left: 20px;
    }
    
    div.footer p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px !important;
    }
    
    div.footer p a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px !important;
    }
    
    table.table {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    table.table th {
        font-size: 9px !important;
        color: red;
    }
    
    table.table td {
        font-size: 10px !important;
        color: red;
    }
    
    #MusicContent {
        background: url(../../assets/banners/f.jfif) no-repeat;
        margin: 11px 11px 0 11px !important;
        background-size: 100%;
    }
    
    #MusicContent h4 {
        color: #fff;
    }
    
    table.table td {
        color: white !important;
    }
    
    div.MusicTable a {
        cursor: pointer;
        color: blue !important;
        color: wheat !important;
    }
    
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }
    
    .modal-body {
        position: relative;
        padding: 0;
    }
    
    .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }
}
