nav.navbar:not(a){z-index:999;background:#082838}nav.navbar ul.navbar-nav li.nav-item a{color:#e5c78f;font-size:19px;font-weight:bold;font-family:'Pompiere'}nav.navbar ul.navbar-nav li.nav-item a:hover{color:#f3f0f0;font-weight:bold}nav.navbar a.navbar-brand{color:white;font-family:'Merienda One'}nav.navbar a.navbar-brand:hover{color:#e5c78f}nav.navbar a img{width:60px}div.carousel-item img{width:100%;margin-top:5px!important}section#musicSymbel img{position:absolute;top:50px;z-index:9999;opacity:.1}section#musicSymbel2 img{position:fixed;top:0;left:0;opacity:.5}section#musicList{position:absolute;top:300px;right:0;opacity:1;z-index:9999;transform:rotate(360deg)}section#musicList a{font-weight:bold;text-transform:uppercase;text-decoration:none;background:#082838;color:white;padding:5px 4px;transform:rotate(180deg)}section#fade{position:absolute;top:140px;z-index:99;width:400px;height:400px;right:100px;background:rgba(2,1,0,0.3);color:white;border-radius:2% 0 2% 0;overflow-y:scroll;font-size:14px;padding:20px}h3.subheading{font-family:'Pompiere';color:#f0d096}section#fade p{font-family:'Pompiere',cursive;font-size:20px}::-webkit-scrollbar{width:10px;height:50px!}::-webkit-scrollbar-track{box-shadow:inset 0 0 5px grey;border-radius:10px}::-webkit-scrollbar-thumb{background:rgba(8,6,0,0.4);border-radius:10px}::-webkit-scrollbar-thumb:hover{background:#e5c78f}section.Content{margin-top:5px}h6.more a{text-decoration:none;color:black}h6.more a i.fa{color:#ce580a;font-weight:bold;margin-left:5px;font-size:20px}h6.more a:hover i.fa{transition:.3s;margin-left:15px}h1.header{margin:100px 0 50px 0}h1.headerOne{margin-top:100px!important;margin-bottom:50px!important}h1.header-Contact{margin-top:98px!important;margin-bottom:50px!important}h1{color:#333;text-align:center;font-weight:bold;position:relative;margin:30px 0 60px}h1::after{content:"";width:100px;position:absolute;margin:0 auto;height:3px;background:#8fbc54;left:0;right:0;bottom:-30px}section #About{padding:0}section #About img{box-shadow:10px 10px 4px -5px #200e0e}section #PhotoGallery img{height:250px;margin-top:25px}section #MusicGallery img{box-shadow:5px 5px 2px 2px rgba(2,1,0,0.3);height:300px}section #MusicGallery img:hover{box-shadow:1px 1px 1px 1px rgba(2,1,0,0.3);transition:ease-in-out .2s}section #VideoGallery iframe{height:270px}section #Events img{height:240px;display:block;margin:0 auto;transition:ease-in-out .4s}#Contact{font-family:'Merienda One';background:url(../../assets/banners/footerBanner.jpg) no-repeat;background-attachment:fixed;background-size:cover;padding:113px 50px}#Contact h3{color:white;margin-bottom:40px}#Contact p,p a{color:white;font-size:15px;margin-top:5px;font-weight:normal;font-family:sans-serif;text-decoration:none!important;transition:.4s ease-in-out}input,textarea{font-family:sans-serif;font-size:14px!important;font-weight:normal!important}#Contact p a:hover{font-weight:bold;letter-spacing:2px;transition:.5s ease-in-out;color:#df4e14}.indexForm textarea,.indexForm input[type='text'],.indexForm input[type='email'],.indexForm input[type='number']{background:transparent!important;color:white!important}div.side-social-icons .fa{padding:10px 12px;font-size:20px;width:50px;text-align:center;text-decoration:none;margin:5px 0}div.side-social-icons .fa:hover{opacity:.9}div.side-social-icons .fa-facebook{border:1px solid white;color:#fff}div.side-social-icons .fa-instagram{border:1px solid white;color:#fff}div.side-social-icons .fa-youtube-play{border:1px solid white;color:#fff}div.side-social-icons .fa-facebook:hover{color:#3b5998}div.side-social-icons .fa-instagram:hover{color:#55acee}div.side-social-icons .fa-youtube-play:hover{color:#007bb5}div.footer{background:#082838}div.footer p{font-family:Arial,Helvetica,sans-serif;font-size:13px!important}div.footer p a{font-size:13px!important}div.footer p a:hover{color:#df4e14}#MusicContent{background:url(../../assets/banners/f.jfif) no-repeat;height:479px;background-size:100%}#MusicContent h4{color:#fff}table.table td{color:white!important}div.MusicTable a{cursor:pointer;color:blue!important;color:wheat!important}body{margin:2rem}.modal-dialog{max-width:800px;margin:30px auto}.modal-body{position:relative;padding:0}.close{position:absolute;right:-30px;top:0;z-index:999;font-size:2rem;font-weight:normal;color:#fff;opacity:1}.btn:focus,.btn:active,button:focus,button:active{outline:none!important;box-shadow:none!important}#image-gallery .modal-footer{display:block}.thumb{margin-top:15px;margin-bottom:15px}div.bgEvent{background:#f4f4f5}

.img-thumbnail{
    width: 600px; height: 260px !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

@media only screen and (max-width: 767px){
    .img-thumbnail{
         height: 200px !important;
    }   
}
.main-image-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.main-image-section .single-image-section {
    width: 300px;
}

.main-image-section .single-image-section > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.main-image-section .single-image-section .image-desc {
    position: relative;
    bottom: 20px;
    transform: rotate(-8deg);
    background-color: white;
    padding: 10px;
    border: 4px solid grey;
    text-align: center;
}

.main-image-section .left,
.main-image-section .right {
    transform: scale(0.8);
}

.main-image-section .center {
    transform: scale(1);
}
.col-lg-12-1{
    width: 100%;
}
